<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Page2</title>
  </head>
  <body>
    <!-- name is now globally avaialbe -->
    <h1>We on page 2 now! {{name}}</h1>
  </body>
</html>
